__bobthefish_colors.fish
__ghq_repository_search.fish
fish_mode_prompt.fish
fish_title.fish
eco_select_history.fish
__bobthefish_display_colors.fish
bobthefish_display_colors.fish
fish_prompt.fish
fisher.fish
__bobthefish_glyphs.fish
fish_greeting.fish
fish_right_prompt.fish
peco_kill.fish
