fish_variables

# fisherで自動linkされるファイルは除外
functions/__bobthefish_colors.fish
functions/__bobthefish_display_colors.fish
functions/__bobthefish_glyphs.fish
functions/bobthefish_display_colors.fish
functions/fish_greeting.fish
functions/fish/functions/fish_mode_prompt.fish
functions/fish_prompt.fish
functions/fish_right_prompt.fish
functions/fish_title.fish
functions/__ghq_repository_search.fish
completions/ghq.fish
conf.d/ghq_key_bindings.fish
functions/peco_kill.fish
functions/peco_select_history.fish
conf.d/fzf.fish
conf.d/fzf_key_bindings.fish
functions/__fzf_cd.fish
functions/__fzf_complete.fish
functions/__fzf_complete_preview.fish
functions/__fzf_find_file.fish
functions/__fzf_get_dir.fish
functions/__fzf_open.fish
functions/__fzf_parse_commandline.fish
functions/__fzf_reverse_isearch.fish
functions/__fzfcmd.fish
functions/wakatime.fish

## fisherが自動生成されるファイルは一旦skip
### このファイルに設定を書き込むようになったら外す
completions/fisher.fish

# fishで自動生成されるファイルは一旦skip
## このファイルに設定を書き込むようになったら外す
functions/fish_mode_prompt.fish
